
@{
    ViewBag.Title = "ConfirmPurchasing";
}

<h2>ConfirmPurchasing</h2>

<font color="red">@Model</font>
<br /><br />

@Html.ActionLink("Volver a la lista de productos", "Index", "Productoes", null, null)

